body {
    font-size: 1.2rem;
    background-color: #FFF5B2;
    border: double, 0.75rem, gold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1rem;
    min-height: 100vh;
    background-image: linear-gradient(to right, green, yellow, steelblue, red);
}

h1 {
    background-color: gold;
    color: blue;
    text-decoration: underline;
    border: 4px outset red;
    padding: 1rem;
}

h1:hover {
    background-color: rgba(93, 234, 234, 0.61);
}

.img-div-festivals, .img-div-festival {
    width: 50%;
    margin: auto;
}

.img-div-festivals img, .img-div-festival img {
    width: 100%;
    height: auto;
    min-width: 200px;
    border: 10px ridge goldenrod;
}

.img-div-festival img {
    min-width: 150px;
}

.img-caption {
    font-style: oblique;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

main {
    background-color: rgba(93, 234, 234, 0.61);
}

nav {
    text-align: left;
}

body :not(nav a) {
    text-decoration: none;
}

.fixed {
    background-color: hsla(60, 57%, 91%, 0.353);
    position: fixed;
    top: 30%;
}

ul {
    list-style: none;
    text-align: left;
}

li {
    margin: 10px auto;
}

a {
    color: blue
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    text-decoration: underline;
    background-color: gold;
    color: green;
    cursor: pointer;
}

a:active {
    color: red;
}

h2 {
    background-color: gold;
    color: red;
    border: 4px inset blue;
    padding: 0.5rem;
}

h3 {
    font-style: oblique;
}

.img-gallery {
display: flex;
align-items: center;
justify-content: space-evenly;
flex-wrap: wrap;
}

.fes-gallery {
   display: flex;
   flex-direction: column;
   align-items: center;
    width: 35%;
    height: 25%;
    margin: 15px auto;
    padding: 15px;
}

.fes-gallery .img-caption {
   padding: 15px 0;
}

.fes-gallery:hover {
    background-color: beige;
}

.fes-gallery img {
    width: 100%;
    height: 150px;
    min-width: 100px;
    border: 10px ridge goldenrod;
    border-radius: 50%;
    padding: auto
}

header p, main p {
    color: blue;
    line-height: 1.5;
    background-color: #f5e78e;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}

aside {
margin: 10px;
}


.holi {
    color: red;
    font-weight: 700;
}

.top {
    text-align: left;
    padding-left: 2rem;
}

footer {
    background-color: #333;
    color: white;
    margin-top: 20px;
}

@media only screen and (max-width < 700px) {
  body {
    font-size: 0.8rem;
    border: double, 0.7rem, gold;
}

  h1 {
    border: 4px outset red;
}
    
  .img-div-festivals, .img-div-festival {
    width: 35%;
}

  .img-div-festivals img, .img-div-festival img {
    min-width: 100px;
    border: 4px ridge goldenrod;
    }

  .fes-gallery .img-caption {
    padding: 10px 0;
    }

  li {
    margin: 5px auto;
}

  h2 {
    border: 4px inset blue;
  }

  }
